<p>
	<a href="#">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="#">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="#">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="#">Back to top</a>
</p>
<div id="copyright">
	<br />Webmaster: <script type="text/javascript">
	<!--
		// protected email script by Joe Maller. JavaScripts available at http://www.joemaller.com
		// this script is free to use and distribute but please credit me and/or link to my site
		emailE=('mbautist' + '@andrew.cmu.edu')
		document.write('<a href="mailto:' + emailE + '">' + 'Miko Bautista' + '</a>')
	//-->
	</script>&nbsp;&nbsp;Copyright 2012 <a href="#">MB</a>
	<br /><br />
</div>